{% extends 'blog/base.html' %}
{% block title %}post.content{% endblock %}
{% block body %}
    <div id="cover-detail" style="background-image: url('/media/{{post.img}}');">
        <h1 id="cover-text">{{ post.title }}</h1>
        <h3 id="cover-subtext">{{ post.content }}</h3>

    </div>
<div id="post-content">
    <div class="post-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ post.title }}</h1>
                    <br>
                    <p>
                    {{ post.content }}
                    </p>
                    <p>
                       {{ post.content }}
                    </p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>

{% endblock %}



<!--
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
<h1 style="text-align: center">{{post.title}}</h1>
<p>{{post.content}}</p>
<img height="300px" src="/media/{{post.img}}"/>
<h3>Comments</h3>
<ul>
    {% for comment in comments %}
        <li>{{comment.comment_text }}</li>
    {% endfor %}

</ul>
</body>
</html>
-->